.Home{
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around
}

.NavLeft{
  width: 10%;
  
}

.firstLigne,{
  margin-top: 5%;
  
}

.secondLigne{
  margin-top : 15%;
}

.Title_Muriel{
  margin-top: 10%;
  color:red;
}


.logo_muriel{
  width: 200px;
  height: auto;
}

