.title{
  padding : 30px 0 30px 0;
  font-size: 3rem;
  font-weight: bold;
  background-color : #e9db1b;
  border:2px #e9db1b solid;
}

.word1{
  margin-bottom: 10%;
}

.photo_mosaique{
  width:300px; 
  height:200px;
}

.blockBackground{
  height: 100vh;
  background-color : #e9db1b;
}