.title{
  font-size: 3rem;
  height: 100vh;
  font-weight: bold;
  background-color : #f5ec6f;
  justify-content: center;
}

.word1{
  margin-bottom: 30%;
}

.word1 > p, .word2 > p{
text-align: center
}


