.App{
 
  font-size: 16px;
  text-align: center
}

.col1{
  border:2px red solid;
}
.col10{
  border:2px blue solid;
}

.title{
  padding : 30px 0 30px 0;
  height: 100vh;
  font-size: 3rem;
  font-weight: bold;
}

.word1{
  margin-bottom: 40%;
}