.App{
 
  font-size: 16px;
  text-align: center;
  display: flex
}

.test1{

  margin-top : 5%;
  
}

.firstLigne{
  margin-top: 5%;
}

.secondLigne{
  margin-top : 5%;
}


.NavLeft{
  width: 10%;
}

.logo_muriel{
  width: 200px;
  height: auto;
}


.MainScreen{
  width:92%
}

.menu{
  margin-top:5%;
}

